@if (Promocodes.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                
                <th scope="col">Код</th>
                <th scope="col">Информация</th>
                <th scope="col">Начало действия</th>
                <th scope="col">Конец действия</th>
                <th scope="col">Название партнера</th>
                <th scope="col">Действия</th>
                <th scope="col">Действия</th>
                <th scope="col">Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var promocode in Promocodes)
            {
                <tr>
                    
                    <td class="align-middle">
                        @promocode.Code
                    </td>
                    <td class="align-middle">
                        @promocode.ServiceInfo
                    </td>
                    <td class="align-middle">
                        @promocode.BeginDate
                    </td>
                    <td class="align-middle">
                        @promocode.EndDate
                    </td>
                    <td class="align-middle">
                        @promocode.PartnerName
                    </td>
                    <td class="align-middle">
                        <button type="button" class="btn btn-info" @onclick="(()=>GetPromocode(promocode.PromocodeId))">Посмотреть</button>
                    </td>
                    <td class="align-middle">
                        <button type="button" class="btn btn-info" @onclick="()=>UpdatePromocode(promocode.PromocodeId)">Обновить</button>
                    </td>
                    <td class="align-middle">
                        <button type="button" class="btn btn-danger" @onclick="()=>Delete(promocode.PromocodeId)">Удалить</button>
                    </td>
                </tr>
             }
            </tbody>
    </table>
}
else
{
    <span>
        Идет загрузка промокодов...
    </span>
}

